MONGO_URI=
JWT_SECRET=

MONGO_URI=
JWT_SECRET=

BASE_URL=

PORT=
CLIENT_URL=

SMTP_HOST=
SMTP_PORT=
EMAIL_USER=
EMAIL_PASS=
MAIL_FROM=

SPAM_WARN_AT=
SPAM_BLOCK_AT=

RAZORPAY_KEY_ID=
RAZORPAY_SECRET=
RAZORPAY_KEY_SECRET=

ZOOM_ACCOUNT_ID=
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
ZOOM_USER_ID=
ZOOM_WEBHOOK_SECRET_TOKEN=

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=